@font-face {
  font-family: 'AdobeCleanLight';
  src: local('AdobeCleanLight'), url(./fonts/AdobeClean-Light.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Adobe Clean Light', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif,;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
